---
title: Colourinz
description: Brand new coloring app for adults. Available for iPad and iPhone on the App Store.
image: /images/Colourinz-Wide.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Colourinz</h1>
			<p class="subtext editable">Brand new coloring app for adults. Available for iPad and iPhone on the App Store.</p>
		</div>
	</div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Coming soon: Colourinz</h2>
				<p class="editable">Brand new coloring app for adults. Coming son for the iPad and iPhone on the App Store.</p>
				<img class="editable" src="/images/AppStore.svg" alt="App Store Badge" />
			</div>
			<div class="image">
				<img class="editable" src="/images/Colourinz.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Edit Palettes</h2>
				<p class="editable">Create new palettes. Rearrange their order, or delete palettes that you don't need anymore.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/Palette-Edit.jpeg" alt="Palette Edit" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Edit Colors</h2>
				<p class="editable">In your custom palette, choose the colors that you want to draw with. Rename your palette to indicate its purpose.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/Color-Edit.jpeg" alt="Color Edit" />
			</div>
		</div>
	</section>
</div>
<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
