---
title: Home
description: Home to Colourinz app and Fordee's Tech Blog.
image: /images/Boat.jpeg
bottom_image: /images/Keyboard.jpeg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Fordee Dot Com</h1>
			<p class="subtext editable">Home to Colourinz app and Fordee's Tech Blog.</p>
			<!--div class="cta button alt"><a href="#">Join Now</a></div-->
		</div>
	</div>
	<!--div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div-->
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Coming soon: Colourinz</h2>
				<p class="editable">Brand new coloring app for adults. Coming soon for the iPad and iPhone on the App Store.</p>
				<img class="editable" src="/images/AppStore.svg" alt="App Store Badge" />
			</div>
			<div class="image">
				<img class="editable" src="/images/Colourinz.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Fordee's Tech Blog</h2>
				<p class="editable">Musings from a developer who has spent way too much time with technology....</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/Electronics.jpeg" alt="Electronics" />
			</div>
		</div>
	</section>


	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<!--h2 class="editable">Find your buddy today</h2-->
				<!--p class="subtext editable">It's free, fun and an exciting way to meet new people.</p-->
				<!--div class="cta button alt"><a href="#">Join Now</a></div-->
			</div>
		</div>
	</section>
</div>
